@model RFahWebsite.Models.MasterModel


<div class="row">
    <div class="col-sm-4">
        <div class="title-group"><h2>Random</h2></div>
        <div class="product-list">
        @if (Model.ProductList!=null)
        {
            foreach (var item in Model.ProductList)
            {

                <div class="products-grid">
                    <div class="images-container">
                        <a class="product-image" title="Accumsan elit " href="@Url.Action("Productdetail","Home",new { id= item.ID})"> <img src="~/Content/WebsiteAsset/images/products/21.jpg"></a>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a title="Accumsan elit " href="@Url.Action("Productdetail","Home",new { id= item.ID})">@item.Name </a></h2>
                        <div class="ratings">
                            <div class="rating-box">
                                <div style="width:67%" class="rating"></div>
                            </div>
                            <span class="amount"><a href="#">1 Review(s)</a></span>
                        </div>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
            </div><!-- /.product-list -->
    </div>

    <div class="col-sm-4">
        <div class="title-group"><h2>Bestseller</h2></div>
            <div class="product-list">
                @if (Model.SalList != null)
                {
                    foreach (var sales in Model.SalList.GroupBy(x => x.BrndId).Select(x => x.First()))
                    {

                        <div class="products-grid">
                            <div class="images-container">
                                <a class="product-image" title="Accumsan elit " href="@Url.Action("Brandproduct", "Home", new { Brandid = sales.TblBrand.Id })"> <img src="~/Content/WebsiteAsset/images/products/18.jpg"></a>
                            </div>
                            <div class="des-container">
                                <h2 class="product-name"><a title="Accumsan elit " href="@Url.Action("Brandproduct", "Home", new { Brandid = sales.TblBrand.Id })">@sales.TblBrand.Name</a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount"><a href="#">1 Review(s)</a></span>
                                </div>
                                <div class="price-box">
                                    <p class="special-price">
                                        <span class="price">$169.99</span>
                                    </p>
                                    <p class="old-price">
                                        <span class="price">$189.00</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    }

                }
                <div>
                    @*<div class="products-grid">
                        <div class="images-container">
                            <a class="product-image" title="Accumsan elit " href="#"> <img src="~/Content/WebsiteAsset/images/products/17.jpg"></a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a title="Accumsan elit " href="#">Demonstraverunt lectores</a></h2>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div style="width:67%" class="rating"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
    </div>
    <div class="col-sm-4">
        <div class="title-group"><h2>Hot sale</h2></div>
        <div class="product-list">
        @if (Model.SalList != null && Model.SalList.Count()>0)
        {
            foreach (var item in Model.SalList.GroupBy(x => x.PrdId).Select(x => x.First()))
            {
                <div class="products-grid">
                    <div class="images-container">
                        <a class="product-image" title="Accumsan elit " href="@Url.Action("Productdetail","Home",new { id= item.TblProduct.ID})"> <img src="~/Content/WebsiteAsset/images/products/14.jpg"></a>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a title="Accumsan elit " href="@Url.Action("Productdetail","Home",new { id= item.TblProduct.ID})">@item.TblProduct.Name </a></h2>
                        <div class="ratings">
                            <div class="rating-box">
                                <div style="width:67%" class="rating"></div>
                            </div>
                            <span class="amount"><a href="#">1 Review(s)</a></span>
                        </div>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h4 class="text-center">Cooming Soon</h4>
        }</div><!-- /.product-list -->
    </div>
</div>
